<div class="footer p-4" style="margin-top:100px;">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <h2>Useful Links</h2>
        <ul class="list-unstyled">
          <li>Home</li>
          <li>News</li>
          <li>About</li>
           <li>Contact</li>
           <li>Memos</li>
           <li>Products</li>
        </ul>
      </div>
       <div class="col-md-3">
        <h2>Useful Links</h2>
        <ul class="list-unstyled">
          <li>Home</li>
          <li>News</li>
          <li>About</li>
           <li>Contact</li>
           <li>Memos</li>
           <li>Products</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>Useful Links</h2>
        <ul class="list-unstyled">
          <li>Home</li>
          <li>News</li>
          <li>About</li>
           <li>Contact</li>
           <li>Memos</li>
           <li>Products</li>
        </ul>
      </div>
    </div>
  </div>
</div>