<a class="btn btn-primary m-2" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Menu
</a>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Admin Dashboard</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

      <ul class="list-unstyled">
        <li><a class="dropdown-item" href="/admins">Admin Dashboard</a></li>
        <li><a class="dropdown-item" href="/products/get_students">Students (Normal Form)</a></li>
        <li><a class="dropdown-item" href="/products/get_persons/">Person (ModelForm)</a></li>
         <li><a class="dropdown-item" href="/products/get_files/">Files (Normal Form)</a></li>
         <li><a class="dropdown-item" href="/products/get_file_modelform/">Files (ModelForm)</a></li>
         <li><a class="dropdown-item" href="/admins/users">Users</a></li>
         <li><a class="dropdown-item" href="/admins/admins">Admins</a></li>
           <li><a class="dropdown-item" href="/admins/admins">Settings</a></li>
           <li><a class="dropdown-item" href="/password_change">Change Password</a></li>

        <li><a class="dropdown-item" href="/logout">Logout</a></li>
      </ul>

  </div>
</div>