{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>Index page</title>
{% endblock %}

{% block main_content %}

<h1>Products</h1>
<ul>
   {% for product in products %}
    <li>Name: {{ product.name }}  Price: {{ product.price }} Stock:{{product.stock}}</li>
    {% endfor %}
</ul>

<img src="{% static 'images/image1.jpg' %}" alt="" class="rounded-circle"/>
<img src="{% static 'images/image2.jpg' %}" alt="" class="img-fluid"/>

{% include 'products/test.html' %}

{% endblock main_content %}
